<h1>New Treasure Hunt</h1><br>
<form action='/hunts/new' method='post'>
Title <input type="text" name="title" id="title" size="20" required><br>
<input type="submit" name="Submit" id="Submit" value="Submit"></td>
</form>
